body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px 0;
}

#carouselExampleCaptions {
    width: 100vw;
    margin-bottom: 40px;
}

.carousel-inner img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.card {
    flex: 0 1 calc(33.333% - 20px);
    max-width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.band {
    display: block;
    margin: 0 auto 25px auto;
    height: 120px;
    width: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .card {
        flex: 0 1 calc(50% - 20px);
        /* 2 por linha em tablets */
    }
}

@media (max-width: 576px) {
    .carousel-inner img {
        height: 250px;
    }

    .card {
        flex: 0 1 100%;
        /* 1 por linha em celulares */
        padding: 15px;
    }

    .band {
        height: 90px;
        margin-bottom: 15px;
    }

    ul.nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
    }

    ul.nav .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

h5 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 30px;
}